<aside class="fixed inset-y-0 z-20 flex-shrink-0 w-64 mt-16 overflow-y-auto bg-white dark:bg-gray-800 md:hidden">
  <div class="py-4 text-gray-500 dark:text-gray-400">
    <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200">
      Home University
    </a>
    <div class="mt-6">
      <ng-container *ngFor="let menu of MENU_ITEMS; let i = index">
        <ul>
          <li class="relative px-6 py-3 cursor-pointer" (click)="openMenu(i)">
            <span *ngIf="activeRoute.toString().includes(menu?.route.toString())"
              class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
            <a
              class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
              <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path
                  d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01">
                </path>
              </svg>
              <span class="ml-4">{{menu?.name}}</span>
            </a>
          </li>
        </ul>
      </ng-container>
    </div>
    <div class="px-6 my-6">
      <button
        (click)="logoutSession()"
        class="flex w-full items-center justify-center px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
        Logout
        <!-- <span class="ml-2" aria-hidden="true">+</span> -->
      </button>
    </div>
  </div>
</aside>