<div class="container h-full px-6 mx-auto pb-4">
  <ngx-spinner></ngx-spinner>
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    Create Category
  </h2>
  <div class="p-5 bg-white rounded-lg shadow-md dark:bg-gray-800">
    <form [formGroup]="categoryForm">
      <div class="grid grid-cols-6 gap-6">
        <div class="col-span-6 sm:col-span-4">
          <label
            for="name"
            class="block text-sm font-medium text-gray-700 dark:text-gray-400"
            >Name</label
          >
          <input
            formControlName="name"
            type="text"
            name="name"
            id="name"
            autocomplete=""
            class="
              mt-1
              focus:ring-blue-500 focus:border-blue-500
              block
              w-full
              shadow-sm
              sm:text-sm
              border-gray-300
              rounded-md
              dark:border-gray-600
              dark:bg-gray-700
              dark:text-gray-300
              dark:focus:shadow-outline-gray
            "
          />
        </div>
        <div class="col-span-6 sm:col-span-4">
          <label
            for="description"
            class="block text-sm font-medium text-gray-700 dark:text-gray-400"
            >Description</label
          >
          <input
            formControlName="description"
            type="text"
            name="description"
            id="description"
            autocomplete=""
            class="
              mt-1
              focus:ring-blue-500 focus:border-blue-500
              block
              w-full
              shadow-sm
              sm:text-sm
              border-gray-300
              rounded-md
              dark:border-gray-600
              dark:bg-gray-700
              dark:text-gray-300
              dark:focus:shadow-outline-gray
            "
          />
        </div>
      </div>
      <div class="flex justify-end mt-4">
        <button
          (click)="submitCategory()"
          class="
            flex
            items-center
            justify-between
            px-4
            py-2
            text-sm
            font-medium
            leading-5
            text-white
            transition-colors
            duration-150
            bg-blue-600
            border border-transparent
            rounded-lg
            active:bg-blue-600
            hover:bg-blue-700
            focus:outline-none focus:shadow-outline-blue
          "
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
