<aside
  class="
    z-20
    flex-shrink-0
    h-full
    hidden
    w-64
    overflow-y-auto
    bg-white
    dark:bg-gray-800
    md:block
  "
>
  <div
    class="
      py-4
      text-gray-500
      dark:text-gray-400
      h-full
      flex flex-col
      justify-between
    "
  >
    <div class="mt-6 flex flex-col gap-4">
      <img
        class="mx-auto h-20 w-auto"
        src="/assets/images/uedlogo.png"
        alt="Workflow"
      />
      <a
        class="
          ml-6
          text-center text-lg
          font-bold
          text-gray-800
          dark:text-gray-200
        "
      >
        Admin Panel
      </a>
      <div>
        <ng-container *ngFor="let menu of MENU_ITEMS; let i = index">
          <ul>
            <li class="cursor-pointer relative px-6 py-3" (click)="openMenu(i)">
              <span
                *ngIf="activeRoute.toString().includes(menu?.route.toString())"
                class="
                  absolute
                  inset-y-0
                  left-0
                  w-1
                  bg-blue-600
                  rounded-tr-lg rounded-br-lg
                "
                aria-hidden="true"
              ></span>
              <a
                class="
                  inline-flex
                  items-center
                  w-full
                  text-sm
                  font-semibold
                  transition-colors
                  duration-150
                  hover:text-gray-800
                  dark:hover:text-gray-200
                "
              >
                <svg
                  class="w-5 h-5"
                  aria-hidden="true"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path [attr.d]="menu?.icon"></path>
                </svg>
                <span class="ml-4">{{ menu?.name }}</span>
              </a>
            </li>
          </ul>
        </ng-container>
      </div>
    </div>
    <div class="px-6 my-6">
      <button
        (click)="logoutSession()"
        class="
          flex
          items-center
          justify-between
          w-full
          px-4
          py-2
          text-sm
          font-medium
          leading-5
          text-white
          transition-colors
          duration-150
          bg-blue-600
          border border-transparent
          rounded-lg
          active:bg-blue-600
          hover:bg-blue-700
          focus:outline-none focus:shadow-outline-blue
        "
      >
        <p class="text-md">Logout</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
          />
        </svg>
      </button>
    </div>
  </div>
</aside>
