<div class="container h-full px-6 mx-auto pb-4">
  <ngx-spinner></ngx-spinner>
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    Create Category
  </h2>
  <div class="p-5 bg-white rounded-lg shadow-md dark:bg-gray-800">
    <form [formGroup]="tagsForm">
      <div class="grid grid-cols-6 gap-6">
        <div class="col-span-6 sm:col-span-4">
          <label for="name" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Name</label>
          <input formControlName="name" type="text" name="name" id="name" autocomplete=""
            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md dark:border-gray-600 dark:bg-gray-700 dark:text-gray-300 dark:focus:shadow-outline-gray">
        </div>
      </div>
      <div class="flex justify-end mt-4">
        <button (click)="saveTag()"
          class="flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
